{% extends 'hotelapp/index_charts.html' %}
{#多app的方案中template需要这样来引入，view中也是需要加上#}
{% block title %}
{{ app_name }}
{% endblock %}

{% block drawer_body %}mdui-drawer-body-left{% endblock %}

{% block drawer_icon %}
    <span class=" mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
{% endblock %}

{% block drawer %}
<div class="mdui-drawer " id="main-drawer">
  <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
    <div class="mdui-collapse-item mdui-collapse-item-open">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
        <div class="mdui-list-item-content">开始使用</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list mdui-collapse-item-open ">
        <a href="{%url 'hotelapp:index' %}" class="mdui-list-item mdui-ripple ">数据概略</a>
        <a href="{% url 'hotelapp:detaillist' %}" class="mdui-list-item mdui-ripple ">详细数据</a>
         </div>
  </div>

         <div class="mdui-collapse-item ">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <!--<i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>-->
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">insert_chart</i>
        <div class="mdui-list-item-content">分析</div>
          <!--<i class="mdui-collapse-item-arrow mdui-icon material-icons">insert_chart</i>-->
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list mdui-collapse-item-open ">
           <a href="{% url 'hotelapp:host' %}" class="mdui-list-item mdui-ripple ">房东数据分析</a>
          <!--<a href="{% url 'hotelapp:consumer' %}" class="mdui-list-item mdui-ripple ">房客专区</a>-->
   <a ><div class="mdui-divider"></div></a>
      <a  class="mdui-list-item mdui-ripple ">house_title</a>
        <a href="{% url 'hotelapp:price' %}" class="mdui-list-item mdui-ripple ">房源价格分析</a>
       <a href="{% url 'hotelapp:detaillist' %}" class="mdui-list-item mdui-ripple ">地理位置分析</a>
        <a href="{% url 'hotelapp:time' %}" class="mdui-list-item mdui-ripple ">发布时间分析</a>
      <a href="{% url 'hotelapp:favcount' %}" class="mdui-list-item mdui-ripple ">喜欢数分析</a>
       <a ><div class="mdui-divider"></div></a>

    </div>
  </div>

  </div>
</div>
<a id="anchor-top"></a>
{% endblock %}
{#其中一个部分#}




{% block app_name %}
{{ app_name }}
{% endblock %}

{% block name %}
{{ app_name }}
{% endblock %}

{% block content %}
<div class="mdui-container doc-container">
{#    这儿才是内容的区域呢#}
  <h1 class="doc-title mdui-text-color-theme">{{ app_name }}</h1>
  <div class="doc-intro mdui-typo">

{#<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-color-red-400">Button</button>#}
{#{%  if latest_question_list  %}#}
<div class="mdui-container">

    <div class="mdui-center" id="timeline" style="width:800px; height:400px;"></div>
    <script>
        var timeline_chart = echarts.init(document.getElementById('timeline'), 'white', {renderer: 'canvas'});
        $(
            function () {
                fetchData_timeline(timeline_chart);
                //{#setInterval(fetchData_timeline, 10000);#}
            }
        );

        function fetchData_timeline() {
            $.ajax({
                type: "GET",
                url: "/hotelapp/timeline/",
                dataType: 'json',
                async: true,
                timeout:5000,

                success: function (result) {
                    timeline_chart.setOption(result.data);
                },
                error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {
                        //超时,status还有success,error等值的情况
                        $.ajax(this).abort();
                        console.log("超时,已重试");
                        $.ajax(this);
                        return
                    }
                }
            });
        }
    </script>

{#这个是地图#}
        <br>
    <br>
    <div class="mdui-center" id="drawmap" style="width:800px; height:400px;"></div>
    <script>
        var drawmap_chart = echarts.init(document.getElementById('drawmap'), 'white', {renderer: 'canvas'});
        $(
            function () {
                fetchData_drawmap(drawmap_chart);
                //{#setInterval(fetchData_drawmap, 10000);#}
            }
        );

        function fetchData_drawmap() {
            $.ajax({
                type: "GET",
                url: "/hotelapp/drawmap/",
                dataType: 'json',
                async: true,
                timeout:5000,

                success: function (result) {
                    drawmap_chart.setOption(result.data);
                },

                error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {
                        //超时,status还有success,error等值的情况
                        $.ajax(this).abort();
                        console.log("超时,已重试");
                        $.ajax(this);
                        return
                    }
                }
            });
        }
    </script>

    <div class="mdui-row">
    <br>
    <br>
   <div class="mdui-table-fluid">
  <table class="mdui-table">
    <thead>
      <tr>
        <th>#</th>
        <th>房源名</th>
        <th>原url</th>
        <th>房源抓取日期</th>
        <th>城市名</th>
      </tr>
    </thead>
    <tbody>

    {% for object in latest_question_list %}
{#        {{ object.Keyword }}#}
{#        {{ object.url }}#}
{#        {{ object.date }}#}
{#        {{ object.searchEngine }}#}
{#        {% for attr in object %}#}
{#            {{ attr }}<br>#}
     <tr>
         <td>{{ object.1 }}</td>
        <td >{{ object.2 }}</td>
        <td>{{ object.3 }}</td>
        <td>{{ object.4 }}</td>
        <td>{{ object.26 }}</td>
     </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}

{% block tail %}

{% endblock %}
  </div>

</div>

  </div></div>