{% extends 'hotelapp/index_charts.html' %}
{#多app的方案中template需要这样来引入，view中也是需要加上#}
{#这个是默认的主页的页面#}
{% block title %}
{{ app_name }}
{% endblock %}

{% block drawer_body %}mdui-drawer-body-left{% endblock %}

{% block drawer_icon %}
    <span class=" mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}">
        <i class="mdui-icon material-icons">menu</i></span>
{% endblock %}

{% block drawer %}
<div class="mdui-drawer " id="main-drawer">
  <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px;">
    <div class="mdui-collapse-item mdui-collapse-item-open">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>
        <div class="mdui-list-item-content">开始使用</div>
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list mdui-collapse-item-open ">
      <a href="{%url 'hotelapp:index' %}" class="mdui-list-item mdui-ripple mdui-list-item-active">数据概略</a>
        <a href="{% url 'hotelapp:detaillist' %}" class="mdui-list-item mdui-ripple ">详细数据</a>
         </div>
  </div>

         <div class="mdui-collapse-item ">
      <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
        <!--<i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">near_me</i>-->
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">insert_chart</i>
        <div class="mdui-list-item-content">分析</div>
          <!--<i class="mdui-collapse-item-arrow mdui-icon material-icons">insert_chart</i>-->
        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
      </div>
      <div class="mdui-collapse-item-body mdui-list mdui-collapse-item-open ">
           <a href="{% url 'hotelapp:host' %}" class="mdui-list-item mdui-ripple ">房东数据分析</a>
          <!--<a href="{% url 'hotelapp:consumer' %}" class="mdui-list-item mdui-ripple ">房客专区</a>-->
          <a ><div class="mdui-divider"></div></a>
      <!--<a  class="mdui-list-item mdui-ripple ">house_title</a>-->
        <a href="{% url 'hotelapp:price' %}" class="mdui-list-item mdui-ripple ">房源价格分析</a>
       <!--<a href="{% url 'hotelapp:detaillist' %}" class="mdui-list-item mdui-ripple ">地理位置分析</a>-->
        <a href="{% url 'hotelapp:time' %}" class="mdui-list-item mdui-ripple ">发布时间分析</a>
      <!--<a href="{% url 'hotelapp:favcount' %}" class="mdui-list-item mdui-ripple ">喜欢数分析</a>-->
        <a href="{% url 'hotelapp:area' %}" class="mdui-list-item mdui-ripple ">房源面积分析</a>
      <!--<a href="{% url 'hotelapp:favcount' %}" class="mdui-list-item mdui-ripple ">喜欢数分析</a>-->
        <!--<a href="{% url 'hotelapp:facilityPage' %}" class="mdui-list-item mdui-ripple ">房源</a>-->
        <a href="{% url 'hotelapp:facilityPage' %}" class="mdui-list-item mdui-ripple ">房源设施分析</a>
             <a ><div class="mdui-divider"></div></a>
        <a href="{% url 'hotelapp:assess' %}" class="mdui-list-item mdui-ripple ">房源价格评估</a>

                <!--<a href="{% url 'hotelapp:favcount' %}" class="mdui-list-item mdui-ripple ">房价评估</a>-->

       <a ><div class="mdui-divider"></div></a>

    </div>
  </div>

  </div>
</div>
<a id="anchor-top"></a>
{% endblock %}



{% block app_name %}
{{ app_name }}
{% endblock %}

{% block name %}
{{ app_name }}
{% endblock %}

{% block content %}
<div class="mdui-container ">
{#    这儿才是内容的区域呢#}
  <h1 class="doc-title ">数据概览</h1>
  <div class="doc-intro mdui-typo">

<div class="mdui-container">


    <div class="mdui-valign mdui-center">
       <div class="mdui-chip ">
             <span class="mdui-chip-icon">🏆</span>
            <span id="count_today" class="mdui-chip-title">今天的房源数据:{{ count_today.count }}</span>
        </div>
       <div class="mdui-chip ">
             <span class="mdui-chip-icon">🏠</span>
            <span class="mdui-chip-title">今日的城市数量:{{ count_today_city.count }}</span>
        </div>
          <div class="mdui-chip ">
             <span class="mdui-chip-icon">🏙</span>
            <span class="mdui-chip-title">总共的城市数量:{{ count_total_city.count }}</span>
        </div>

    </div>

<div id="bar-hide">
    <div class="mdui-center mdui-spinner mdui-spinner-colorful" style="margin-top: 220px;"></div>
</div>
    <div class="mdui-center" id="bar" style="width:800px; height:400px;margin-top:60px;display: none;"></div>


    <br>
    <div id="pieview-hide">
    <div class="mdui-center mdui-spinner mdui-spinner-colorful" style="margin-top: 200px;"></div>
    </div>
    <div class="mdui-center" id="pieview" style="display:none;width:800px; height:400px;margin-top: 50px;"></div>


    <br>
    <br>
    <div id="timeline-hide">
    <div class="mdui-center mdui-spinner mdui-spinner-colorful" style="margin-top: 200px;"></div>
</div>
    <div class="mdui-center" id="timeline" style="display:none;width:800px; height:400px; margin-top: 50px;"></div>


{#这个是地图#}
        <br>
 <div id="drawmap-hide">
    <div class="mdui-center mdui-spinner mdui-spinner-colorful" style="margin-top: 200px;"></div>
</div>
    <div class="mdui-center" id="drawmap" style="display:none;width:800px; height:400px;margin-bottom: 50px;margin-top: 50px;"></div>


    </tbody>
  </table>
</div>


{% endblock %}


{% block tail %}
      <script>
        var chart = echarts.init(document.getElementById('bar'), 'black', {renderer: 'canvas'});

        $(
            function () {
                fetchbarData(chart);
                //setInterval(fetchbarData, 10000);

            }
        );

        function fetchbarData() {
            $.ajax({
                type: "GET",
                url: "{% url 'hotelapp:bar' %}",
                dataType: 'json',
                async: true,
                timeout:5000,

                success: function (result) {
                    chart.setOption(result.data);
                    $('#bar-hide').css('display','none');  // 组件完全隐藏，不占用显示时占用的位置
                    $('#bar').css('display','block');   //在设置组件可以看
                },
                  error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {//超时,status还有success,error等值的情况
                        // temp2.abort();
                        $.ajax(this).abort();

                        // 　　　　　  alert("超时");
                        console.log("超时,已重试");
                        // temp2();
                        $.ajax(this);

                        return
                    }
                }
            });
        }
    </script>
    <script>
        var pie_chart = echarts.init(document.getElementById('pieview'), 'black', {renderer: 'canvas'});
        $(
            function () {
                fetchData(pie_chart);
                //setInterval(fetchData, 100000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "{% url 'hotelapp:pie' %}",
                dataType: 'json',
                async: true,
                timeout:5000,
                success: function (result) {
                    pie_chart.setOption(result.data);
                    $('#pieview-hide').css('display','none');  // 组件完全隐藏，不占用显示时占用的位置
                    $('#pieview').css('display','block');   //在设置组件可以看
                },
                  error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {//超时,status还有success,error等值的情况
                        // temp2.abort();
                        $.ajax(this).abort();

                        // 　　　　　  alert("超时");
                        console.log("超时,已重试");
                        // temp2();
                        $.ajax(this);

                        return
                    }
                }
            });
        }
    </script>
    <script>
        var timeline_chart = echarts.init(document.getElementById('timeline'), 'white', {renderer: 'canvas'});
        $(
            function () {
                fetchData_timeline(timeline_chart);
                //{#setInterval(fetchData_timeline, 10000);#}
            }
        );

        function fetchData_timeline() {
            $.ajax({
                type: "GET",
                url: "{% url 'hotelapp:timeline' %} ",
                dataType: 'json',
                async: true,
                timeout:5000,
                success: function (result) {
                    timeline_chart.setOption(result.data);
                    $('#timeline-hide').css('display','none');  // 组件完全隐藏，不占用显示时占用的位置
                    $('#timeline').css('display','block');   //在设置组件可以看
                },

              error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {//超时,status还有success,error等值的情况
                        // temp2.abort();
                        $.ajax(this).abort();

                        // 　　　　　  alert("超时");
                        console.log("超时,已重试");
                        // temp2();
                        $.ajax(this);

                        return
                    }
                }
            });
        }
    </script>
    <script>
        var drawmap_chart = echarts.init(document.getElementById('drawmap'), 'white', {renderer: 'canvas'});
        $(
            function () {
                fetchData_drawmap(drawmap_chart);
                //{#setInterval(fetchData_drawmap, 10000);#}
            }
        );

        function fetchData_drawmap() {
            $.ajax({
                type: "GET",
                url: "{% url 'hotelapp:drawMap' %}",
                dataType: 'json',
                async: true,
                timeout:5000,
                success: function (result) {
                    drawmap_chart.setOption(result.data);
                     $('#drawmap-hide').css('display','none');  // 组件完全隐藏，不占用显示时占用的位置
                    $('#drawmap').css('display','block');   //在设置组件可以看
                },

              error : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                    if (status === 'timeout') {//超时,status还有success,error等值的情况
                        // temp2.abort();
                        $.ajax(this).abort();

                        // 　　　　　  alert("超时");
                        console.log("超时,已重试");
                        // temp2();
                        $.ajax(this);

                        return
                    }
                }

            });
        }
    </script>

{% endblock %}
  </div>

</div>

