{#{% extends "admin/base_site.html" %}#}
{% extends "./index_charts.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block name %}
    修改密码
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}<div id="content-main">

<form method="post" action="{% url 'hotelapp:password_change' %}">{% csrf_token %}
<div>

<div class="mdui-center">
<p class="mdui-text-center">
    {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
    {% if form.errors %}
    <p class="errornote mdui-text-center" >
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}
    {% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    <div class="mdui-center mdui-text-center">  {{ form.old_password.errors }} </div>
    <div class="mdui-center mdui-text-center">  {{ form.new_password1.errors }} </div>
    <div class="mdui-center mdui-text-center">  {{ form.new_password2.errors }} </div>

{% endif %}



</div>
{#<fieldset class="module aligned wide">#}
<div class="mdui-card mdui-center " style="width: 350px;margin-top:2cm;padding-bottom:10px;padding-left: 10px;padding-right: 10px;" >
<div class="form-row">


    <div class="mdui-textfield mdui-textfield-floating-label" style="padding-left: 10px;">
    <i class="mdui-icon material-icons">lock</i>
    <label class="mdui-textfield-label">原密码</label>
    <input style="width: 250px;"  class="mdui-textfield-input" type="password" name="old_password" id="id_old_password" required  pattern="^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z]).*$" />
    <div class="mdui-textfield-error">密码至少 8 位，且包含大小写字母</div>
    <div class="mdui-textfield-helper">请输入至少 8 位，且包含大小写字母的密码</div>
    </div>
{#    {{ form.old_password.label_tag }} {{ form.old_password }}#}
</div>

<div class="form-row">

    <div class="mdui-textfield mdui-textfield-floating-label" style="padding-left: 10px;">
    <i class="mdui-icon material-icons">lock</i>
    <label class="mdui-textfield-label">新密码</label>
    <input style="width: 250px;"  class="mdui-textfield-input" type="password" name="new_password1" id="id_new_password1" required  pattern="^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z]).*$" />
    <div class="mdui-textfield-error">密码至少 8 位，且包含大小写字母</div>
    <div class="mdui-textfield-helper">请输入至少 8 位，且包含大小写字母的密码</div>
    </div>


</div>

<div class="form-row mdui-center">
{{ form.new_password2.errors }}
    <div class="mdui-textfield mdui-textfield-floating-label" style="padding-left: 10px;">
        <i class="mdui-icon material-icons">lock</i>
        <label class="mdui-textfield-label">在输入一次新密码</label>
        <input style="width: 250px;"  class="mdui-textfield-input" type="password" name="new_password2" id="id_new_password2" required  pattern="^.*(?=.{8,})(?=.*[a-z])(?=.*[A-Z]).*$" />
        <div class="mdui-textfield-error">密码至少 8 位，且包含大小写字母</div>
        <div class="mdui-textfield-helper">请输入至少 8 位，且包含大小写字母的密码</div>
    </div>


</div>

{#</fieldset>#}

<div class="submit-row">
    <input type="submit" value="{% trans 'Change my password' %}" class="mdui-center mdui-btn-raised mdui-btn default" />
</div>

</div>
</form></div>
</div>
{% endblock %}


